* {
  color: white;
  margin: 0;
  padding: 0;
}

body {
    background-image: url(/images/bg.jpg);
    background-size: cover;
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    overflow: hidden;
  }

  .form_page {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  #heading {
    font-size: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .actual_form {
    margin-top: 40px;
    border-radius: 20px;
    padding-left: 190px;
    padding-right: 190px;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: rgba(255, 136, 8, 0.693);
    width: fit-content;
  }

  #form_heading {
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  input {
    border-top: 4px solid white;
    border-right: 4px solid white;
    border-bottom: 4px solid white;
    border-left: none;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    color: white;
    padding: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
    background: rgba(0, 0, 0, 0.301);
  }
  input:focus {
    background: rgba(0, 0, 0, 0.301);
    outline: none;
  }
  ::placeholder {
    color: white;
  }

  