* {
  color: white;
  margin: 0;
  padding: 0;
}

body {
    background-image: url(/images/bg.jpg);
    background-size: cover;
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    overflow: hidden;
  }

  .form_page {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  #heading {
    font-size: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
